.cart-product {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 15px;
  width: max-content;
  margin: 40px auto;
}

.img-thumbail-cart img {
  width: 140px;
  height: 140px;
}

.gap-10 {
  gap: 200px;
}

/* quanlity */
.list-but-cart{
  margin: 0 auto;
  width: fit-content;
}