.cart-product {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 15px;
  width: max-content;
  margin: 40px auto;
}

.img-thumbail-cart img {
  width: 140px;
  height: 140px;
}

.gap-10 {
  gap: 200px;
}

/* quanlity */
.list-but-cart {
  margin: 0 auto;
  width: fit-content;
}

/* coupon code*/
.coupon-code {
  padding: 15px 10px;
  width: 250px;
}

.apply-coupon .btn-coupon {
  padding: 15px 10px;
  border: 1px solid orange;
  background-color: orange;
  color: white;
  width: 250px;
}
