.section-users {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section-users input {
  padding: 10px 20px;
}

.change-pass {
  padding: 10px 20px;
  font-weight: 600;
  border: 2px solid green;
  color: green;
  background-color: white;
}

.change-pass:hover {
  background: green;
  color: white;
  transition: all 0.3s linear;
}

.user-acc {
  width: max-content;
}

/* img user */
img {
  max-width: 100%;
  vertical-align: middle;
}

img .output {
  width: 200px;
  height: 200px;
  max-width: 100%;
  vertical-align: middle;
}

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.profile-pic input {
  display: none;
}
.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 165px;
  height: 165px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 100px;
  z-index: 0;
}
.profile-pic .-label {
  cursor: pointer;
  height: 165px;
  width: 165px;
}
.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}
.profile-pic span {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}
